.main {
  position: relative;
  background: linear-gradient(
    178.29deg,
    #eddfff -6.13%,
    rgb(125 154 255 / 57%) 145.47%
  );
  height: 100vh;
}

.main h5 {
  text-align: center;
  padding-top: 6px;
}

.history {
  height: 75vh;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-bottom: 0px;
  position: absolute;
  bottom: 80px;
  left: 20px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
}

.buttonGroup button {
  border: none;
  border-radius: 6px;
  background-color: white;
  margin: 8px 8px;
}

#mainButton {
  background: linear-gradient(
    169.74deg,
    #8348ff -23.25%,
    rgba(65, 80, 248, 0.46) 92.82%
  );
  color: white;
  font-weight: bold;
  padding: 3px 7px;
}

#panel, .flip {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #b3b3e6;
  color: black;
  border: solid 1px black;
  margin: auto;
}

#panel {
  display: none;
}
#NewButton { 
 border: none;
  border-radius: 6px;
  background-color: white;
  margin: 8px 8px;
}